.__nwl-w {
  display: block;
  position: fixed;
  max-width: 600px;
  width: 100%;
  height: auto;
  min-height: 10px;
  padding: 1rem 2rem;
  background-color: rgba(0, 123, 193, .93);
  color: white;
  transition: all 400ms ease-out;
}

.__show {
  /*transform: translateY(100%);*/
}

.__close-this-panel {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}

.__nwl-w .__nwl-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.__nwl-w .__nwl-title > .__close-this-panel {
  margin-left: auto;
}

.__nwl-body .__nwl-body-text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.__input-group {
  display: flex;
  flex-wrap: wrap;
}

.__input-group.__inline-input {
  flex-direction: row;
  align-items: center;
}

.__input-group.__inline-input .__input-wrapper,
.__input-group.__inline-input .__input-wrapper .__input {
  border-radius: 2px;
}

.__input-group.__inline-input .__input-wrapper {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 1rem;
  background-color: red;
}

.__input-group.__inline-input .__input-wrapper .__input {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, .75);
}

.__input-group.__inline-input .__input-wrapper .__input {
  padding: 10px .5rem;
  font-size: 1rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .__mobile {
    width: 100%;
  }
  ._btn-block-xs {
    display: block !important;
    width: 100%;
  }
}
