
.__notification-wrapper {
  position: sticky;
  top: 0;
  overflow-y: hidden;
  max-height: 500px;
  display: block;
  width: 100%;
  background-color: var(--smoke-grey);
  z-index: 1000;
  transition: all 400ms ease-out;
}

.__nw {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px 1rem;
}

.__nw .__p1 {
  flex-grow: 1;
  padding-right: 20px;
}

.__nw .__p1 {
  width: 100%;
}

.__nw .__p2 {
  display: inline-block;
  margin-top: .5rem;
}

@media only screen and (min-width: 768px) {
  .__nw {
    display: flex;
    align-items: center;
    max-width: 720px;
    width: 720px;
    height: 75px;
    margin: auto;
  }

  .__nw .__p1 {
    width: 200px;
  }

  .__nw .__p2 {
    margin-top: 0;
    display: block;
  }
}
