
.__notification-wrapper {
  position: fixed;
  display: block;
  width: 100%;
  background-color: var(--smoke-grey);
  z-index: 1000;
  transition: all 300ms ease-out;
}

.__nw {
  display: flex;
  align-items: center;
  max-width: 720px;
  width: 720px;
  height: 75px;
  margin: auto;
}

.__nw .__p1 {
  flex-grow: 1;
  padding-right: 20px;
}

.__nw .__p1 {
  width: 200px;
}

.__hide-panel {
  transform: translateY(-75px);
}
